
 {% extends 'base.html' %}
 
{% block content %}
<style>
    .mhis {
        background-color: #055A87;
        color: white;
        padding-left:400px;
        padding-top:40px;
        font-size:30px;
    }

    .content {
        padding-left:50px;
        padding-right:50px;
    }
</style>

<div class = "mhis">
    Mental Health Information System
</div>
<br/>


<div class = "content">
    <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">You have successfully logged out!</h4>
    <p>Do you want to logi again?</p>
    <hr>
    <p class="mb-0"><a class="nav-link" href="{% url 'login' %}"><button class="btn btn-primary  " >Log in</button></a></p>
    </div>
</div>
{% endblock %}