{% extends 'base.html' %}
    {% block content %}
    {% load static %}

    <style>
        .reset {
            padding-top: 100px;
            padding-left: 450px;
            padding-right: 450px;
            padding-bottom: 60px;
           
            
        }
        .card-header {
            background-color: #055A87;
            color: white;

        }


    </style>
        {% load crispy_forms_tags%}
            <div class="reset">
            <div class="col mb-6">
            <div class="card">
            <center>
            <div class="card-header"><b><h2>Change User Password</h2></b><br/>
            </div>
            </center>
            <div class="card-body">
            <h4>Please enter your New Password</h4>
            <br/>
            <form method="POST">
                {%csrf_token %}
                {{form|crispy}}

            <div class="form-group">
            <button class="btn btn-primary  float-left" type="submit">Change Password</button>
            <a href = "{% url 'login' %}" <button class="btn btn-danger  float-right" >Cancel</button></a>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>     
{% endblock %} 

